.container-biblioteca {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8.5rem;
  height: 12rem;
}

.tittleParagrafo {
  font-size: 3rem;
  color: var(--color-primary);
  font-family: "DM Sans", sans-serif;
  padding-top: 8rem;
}

.textParagrafo {
  font-size: 1.5rem;
  color: var(--color-text);
  margin: 2rem 5rem;
}
