.container-menu {
  background-color: var(--background-primary);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
}

.image-logo {
  width: 12rem;
  height: 8rem;
}

.menu {
  display: flex;
}
.item {
  margin: 0 2rem;
}
.link {
  color: var(--color-tertiary);
  font-size: 1.4rem;
  font-weight: bold;
}
