.container-info {
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem;
}

.titleInfo {
  font-size: 2.5rem;
  font-family: "DM Sans", sans-serif;
  color: var(--color-primary);
  margin: 1rem 0;
}

.textInfo {
  font-size: 1.5rem;
  text-align: justify;
  margin-bottom: 1rem;
}
