.footer-container{
 display: flex;
 justify-content: center;
 height: 5rem;
 background-color: var(--background-primary);
}

.footer-text{
  font-size:1.8rem ;
  color:var(--color-tertiary);
}

.footer-link{
  color: var( --color-secondary);
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1rem;
}